.swap-root {
//   animation: run 0.3s;
}
.btn-icon {
    background:#F9FBFD;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 27px;
}

.switch-body {
    text-align: center;
}

.align-center {
    margin:auto;
}

.price_head {
    color: #7d7878;
}
 
.price_aa {
    font-size: small;
    color:#8D9BAE;
    ;
}
.price-list {
    margin-top:10px; 
    text-align: left;
}

.price {
    color: #2c6def;
    float: right;
}

@keyframes run {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }