.form-label {
    color: #9FADC0;
    font-size: small;
    line-height: 10px;
}
.field-card {
    background: #F2F4FA;
    border:none;
    border-radius: 8px;
}

.field-input {
    border:none;
    background: transparent;
    padding: 0;
    &:focus {
        border:none;
        background: transparent;
        box-shadow: none;
    }
}

.field-select {
    border:none;
    width: 80px;
    border-radius: 6px;
    font-size: 15px;
    float:right;
    &:focus {
        border:none;
        box-shadow: none;
    }
}