.form-label {
    color: var(--theme-field-text-color);
    font-size: small;
    line-height: 10px;
}
.field-card {
    background: var(--theme-field-card);
    border:none;
    border-radius: 8px;
}

.field-input {
    border:none;
    background: transparent;
    color: var(--theme-input-color);
    padding: 0;
    &:focus {
        border:none;
        background: transparent;
        box-shadow: none;
        color: var(--theme-input-color);
    }
}

.field-select {
    border:none;
    width: 80px;
    border-radius: 6px;
    font-size: 15px;
    float:right;
    &:focus {
        border:none;
        box-shadow: none;
    }
}